/** {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*/
body {
  color: #444;
  background: #fff;
}

html,
body {
  height: 100%;
}

.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px;
}

.sticky {
  height: 100px;
}

footer {
  background-color: #208e4e;
  height: 100px;
}

#chatbox {
  background-color: #208e4e;
  border: none;
  width: 80%;
  height: 100%;
  font-size: 34px;
  color: #fff;
  padding: 10px;
}

#codebox {
  background-color: #208e4e;
  border: none;
  width: 80%;
  height: 100%;
  font-size: 14px;
  color: #fff;
  padding: 10px;
  display: none;
  overflow: none;
}

.codemode {
  position: fixed;
  cursor: pointer;
  width: 60px;
  height: 20px;
  color: #eeeeee;
  font-size: 12px;
  padding-top: 3px;
  text-align: center;
  background-color: #f0f0f0;
  border: 1px solid #e0e0e0;
  top: 5px;
  right: 5px;
  z-index: 100;
}

.codemode.on {
  color: #fff;
  background-color: #F84E28;
  border: 1px solid #F84E28;
}

.codemode.off {
  color: #777;
  background-color: #f0f0f0;
  border: 1px solid #e0e0e0;
}

.username {
  color: #aaa;
  margin-right: 10px;
}

.editor {
  height: auto;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto !important;
}
